*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
}

h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    z-index: 1000;
    mix-blend-mode: difference;
}